Django>=5.2,<6.1
{% if banco_dados == 'postgresql' %}psycopg[binary]>=3.2,<4
{% elif banco_dados == 'mysql' %}mysqlclient>=2.2,<3
{% elif banco_dados == 'oracle' %}oracledb>=2.0,<3
{% endif %}{% if sistema.gerar_api_rest %}djangorestframework>=3.15,<4
{% endif %}